/* --- Rock Styles --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  max-height: 100vh;
  max-width: 100%;
  font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
}
/* --- MAIN Styles --- */
.main_container {
  width: 100%;
  height:100vh;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(0, 8, 26);
}
/* header styles */
.heading {
  width: 100%;
  height: 4rem;
  margin:1rem 2rem;
  background-color: rgb(1, 63, 58);
  color: rgb(0, 231, 200);
  display: flex;
  justify-content: center;
  border-radius: 1rem;
}
.heading h2 {
  font-size: 2rem;
  padding: 0.5rem 1rem;
}
/* balance & incExp styles */

/* Balance */
.main_div {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 1rem;
  background-color: rgb(1, 63, 58);
}
.bal_comp {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 1rem 2rem;
  padding: 2rem;
  background-color:rgb(0, 1, 43);
  border-radius: 2rem;
}
.bal_comp > h4 {
  font-size: 2rem;
  padding: 0.2rem;
  text-align: center;
  text-transform: uppercase;
  color:rgb(93, 112, 255);
}
.bal_comp h1 {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  padding: 0 0.8rem 0.3rem;
  color:rgb(110, 113, 131);
}
/* incomeExpenditure */

.inc-exp-container {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  margin: 1rem 2rem;
  padding: 2rem;
  background-color:rgb(0, 1, 43);
  border-radius: 2rem;
}
.inc-exp-container > div {
  flex: 1;
  text-align: center;
}
.inc-exp-container > div:first-of-type {
  border-right: 0.1rem solid #ebd7d7;
}
.inc-exp-container > div > h4 {
  padding: 0.4rem;
  text-transform: capitalize;
  color:rgb(93, 112, 255);
  letter-spacing: .2rem;
  font-size: 2rem;
}
.money {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin: 0.5rem 0;
}
.money.plus {
  color: #02aa48;
}
.money.minus {
  color: #ad1b0a;
}
/* transactionList & addTransaction styles */
.container {
  width: 100%;
  min-height: 50%;
  margin: 1rem 1rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(1, 63, 58);
}
.trans_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
}
.trans_heading{
  display: grid;
  place-items: center; 
  width: 100%;
}
 .trans_heading h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width:50%;
  height: 4rem;
  margin: 1rem 0;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: .5rem;
  letter-spacing: .3rem;
  color:rgb(154, 255, 204);
  background-color: rgb(43, 136, 79);
  font-size: 2rem;
}
.trans_list{
  width: 80%;
  min-height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem 0;
  background-color: rgb(151, 255, 179);
  border-radius: 1.5rem;
}
.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1rem auto;
  list-style-type: none;
  padding: 0 1rem;
}
.list li {
  background-color: rgb(0, 3, 27);
  color: rgb(69, 72, 238);
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.list li.plus {
  border-right: 1rem solid #1dac01;
}
.list li.minus {
  border-right: 1rem solid #a81100;
}
.delete-btn {
  cursor: pointer;
  background-color: #ff523e;
  border: 0;
  color: rgb(65, 0, 0);
  font-size: 2rem;
  line-height: 2rem;
  padding: 0.2rem 0.5rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.list li:hover .delete-btn {
  opacity: 1;
}
/* Add Transaction */

.form_container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  flex-wrap: wrap;
}
.form_heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_heading h3 {
  width:100%;
  height:4rem;
  font-size: 2rem;
  background-color: rgb(43, 136, 79);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0;
  padding: 0 1rem;
  box-sizing: border-box;
  border-radius: .5rem;
  letter-spacing: .3rem;
  color:rgb(154, 255, 204);
}
.form_div {
  width: 80%;
  min-height: 45vh;
  display: flex;
  align-items: center;
  
  padding: 1rem 0;
  background-color: rgb(151, 255, 179);
  border-radius: 1.5rem;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
label {
  width: 40%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .5rem 1rem;
  color:rgb(0, 44, 22);
  background-color: rgb(43, 136, 79);
  border: none;
  outline: none;
  border: 0.2rem solid rgb(0, 66, 46);
  border-left: 1rem solid rgb(0, 66, 46);
  border-radius: .3rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
input[type="text"],
input[type="number"] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 5rem;
  padding-left: 1rem;
  margin:.5rem 1rem;
  color: #001a0a;
  background-color: transparent;
  font-size: 1.5rem;
  border: none;
  outline: none;
  border: .2rem solid rgb(0, 51, 27);
  border-radius: .5rem;
}
input[type="text"]:focus,
input[type="number"]:focus {
  color:rgb(0, 58, 39);
  border: none;
  border-bottom: .2rem solid rgb(0, 75, 40);  
}
.btn {
  width:80%;
  height: 4rem;
  box-sizing: border-box;
  cursor: pointer;
  color:rgb(4, 255, 222);
  background-color: rgb(0, 1, 39);
  border:none;
  font-size: 2rem;
  margin: 0.5rem 1rem;
  border-radius: 1rem;
}
.btn:hover{
  color:rgb(255, 221, 146);
  background-color: rgb(0, 24, 75);
}
.btn:focus,
.delete-btn:focus {
  outline: 0;
}
/* ---- Media styles ---- */
@media screen and (max-width: 500px) {
  .main_container {
    width: 100%;
    height: 100vh;
  }
  html{
    font-size:52%;
  }
  .heading{
    margin: 1rem;
    height: fit-content;
  }
  .heading h2{
    padding: 1rem;
    font-size: 3rem;
  }
  .main_div{
    margin:.5rem;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
  }
  .bal_comp,.inc-exp-container{
    width: 100%;
  }
  .container{
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
  }
  .form_container,
  .trans_container{
    width:100%;
    margin-bottom: 3rem;
  }
  .form_heading{
    width: fit-content;
  }
  .form_div,
  .trans_list{
    min-height: 10vh;
    background-color:transparent;
  }
  form{
  display: flex;
  flex-wrap: wrap;
  }
  .bal_comp,
  .inc-exp-container,
  .list li,
  .btn{
    border:.2rem solid rgb(0, 155, 160);
  }
}
@media screen and (max-width: 960px) {
  .main_container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
  }
  html{
    font-size:52%;
  }
  label{
    font-size:1.5rem;
  }
  .btn{
    font-size: 1.5rem;
    font-family: monospace;
  }
}
